<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>kge6_bubble.png</key>
		<dict>
			<key>frame</key>
			<string>{{1998,1561},{361,228}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{361,228}}</string>
			<key>sourceSize</key>
			<string>{361,228}</string>
		</dict>
		<key>kge6_cat.png</key>
		<dict>
			<key>frame</key>
			<string>{{1671,1561},{256,325}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,325}}</string>
			<key>sourceSize</key>
			<string>{256,325}</string>
		</dict>
		<key>kge6_chicken_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{3472,873},{343,318}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{343,318}}</string>
			<key>sourceSize</key>
			<string>{343,318}</string>
		</dict>
		<key>kge6_chicken_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{3489,3729},{343,318}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{343,318}}</string>
			<key>sourceSize</key>
			<string>{343,318}</string>
		</dict>
		<key>kge6_chicken_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{3502,3409},{343,318}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{343,318}}</string>
			<key>sourceSize</key>
			<string>{343,318}</string>
		</dict>
		<key>kge6_chicken_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{3502,3089},{343,318}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{343,318}}</string>
			<key>sourceSize</key>
			<string>{343,318}</string>
		</dict>
		<key>kge6_chicken_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{3182,3089},{343,318}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{343,318}}</string>
			<key>sourceSize</key>
			<string>{343,318}</string>
		</dict>
		<key>kge6_chicken_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{3169,3527},{343,318}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{343,318}}</string>
			<key>sourceSize</key>
			<string>{343,318}</string>
		</dict>
		<key>kge6_chicken_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2849,3527},{343,318}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{343,318}}</string>
			<key>sourceSize</key>
			<string>{343,318}</string>
		</dict>
		<key>kge6_hair_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1677,2},{686,1378}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{686,1378}}</string>
			<key>sourceSize</key>
			<string>{686,1378}</string>
		</dict>
		<key>kge6_hair_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{690,1382},{686,1378}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{686,1378}}</string>
			<key>sourceSize</key>
			<string>{686,1378}</string>
		</dict>
		<key>kge6_hair_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{690,2},{686,1378}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{686,1378}}</string>
			<key>sourceSize</key>
			<string>{686,1378}</string>
		</dict>
		<key>kge6_hair_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1382},{686,1378}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{686,1378}}</string>
			<key>sourceSize</key>
			<string>{686,1378}</string>
		</dict>
		<key>kge6_hair_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{686,1378}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{686,1378}}</string>
			<key>sourceSize</key>
			<string>{686,1378}</string>
		</dict>
		<key>kge6_igorArm_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{728,3763},{330,361}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{330,361}}</string>
			<key>sourceSize</key>
			<string>{330,361}</string>
		</dict>
		<key>kge6_igorArm_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{365,3763},{330,361}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{330,361}}</string>
			<key>sourceSize</key>
			<string>{330,361}</string>
		</dict>
		<key>kge6_igorArm_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,3763},{330,361}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{330,361}}</string>
			<key>sourceSize</key>
			<string>{330,361}</string>
		</dict>
		<key>kge6_milo.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2762},{734,999}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{734,999}}</string>
			<key>sourceSize</key>
			<string>{734,999}</string>
		</dict>
		<key>kge6_miloArm_back_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{3182,2387},{866,700}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{866,700}}</string>
			<key>sourceSize</key>
			<string>{866,700}</string>
		</dict>
		<key>kge6_miloArm_back_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{3182,1685},{866,700}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{866,700}}</string>
			<key>sourceSize</key>
			<string>{866,700}</string>
		</dict>
		<key>kge6_miloArm_back_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2480,2659},{866,700}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{866,700}}</string>
			<key>sourceSize</key>
			<string>{866,700}</string>
		</dict>
		<key>kge6_miloArm_back_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2604,983},{866,700}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{866,700}}</string>
			<key>sourceSize</key>
			<string>{866,700}</string>
		</dict>
		<key>kge6_miloArm_back_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2249,1791},{866,700}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{866,700}}</string>
			<key>sourceSize</key>
			<string>{866,700}</string>
		</dict>
		<key>kge6_miloArm_front_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1609,2754},{925,869}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{925,869}}</string>
			<key>sourceSize</key>
			<string>{925,869}</string>
		</dict>
		<key>kge6_miloArm_front_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1378,1827},{925,869}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{925,869}}</string>
			<key>sourceSize</key>
			<string>{925,869}</string>
		</dict>
		<key>kge6_miloArm_front_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1677,690},{925,869}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{925,869}}</string>
			<key>sourceSize</key>
			<string>{925,869}</string>
		</dict>
		<key>kge6_miloArm_front_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{3057,2},{925,869}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{925,869}}</string>
			<key>sourceSize</key>
			<string>{925,869}</string>
		</dict>
		<key>kge6_miloArm_front_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,2762},{925,869}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{925,869}}</string>
			<key>sourceSize</key>
			<string>{925,869}</string>
		</dict>
		<key>kge6_tail_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2556,3527},{363,291}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{363,291}}</string>
			<key>sourceSize</key>
			<string>{363,291}</string>
		</dict>
		<key>kge6_tail_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2604,690},{363,291}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{363,291}}</string>
			<key>sourceSize</key>
			<string>{363,291}</string>
		</dict>
		<key>kge6_tail_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{2263,3681},{363,291}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{363,291}}</string>
			<key>sourceSize</key>
			<string>{363,291}</string>
		</dict>
		<key>kge6_tail_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{1970,3681},{363,291}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{363,291}}</string>
			<key>sourceSize</key>
			<string>{363,291}</string>
		</dict>
		<key>kge6_tail_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{1677,3681},{363,291}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{363,291}}</string>
			<key>sourceSize</key>
			<string>{363,291}</string>
		</dict>
		<key>kge6_tail_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{1378,1462},{363,291}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{363,291}}</string>
			<key>sourceSize</key>
			<string>{363,291}</string>
		</dict>
		<key>kge6_tail_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{1378,1097},{363,291}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{363,291}}</string>
			<key>sourceSize</key>
			<string>{363,291}</string>
		</dict>
		<key>kge6_tail_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{1378,732},{363,291}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{363,291}}</string>
			<key>sourceSize</key>
			<string>{363,291}</string>
		</dict>
		<key>kge6_tail_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{1378,367},{363,291}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{363,291}}</string>
			<key>sourceSize</key>
			<string>{363,291}</string>
		</dict>
		<key>kge6_tail_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{1378,2},{363,291}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{363,291}}</string>
			<key>sourceSize</key>
			<string>{363,291}</string>
		</dict>
		<key>kge6_tail_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{1384,3689},{363,291}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{363,291}}</string>
			<key>sourceSize</key>
			<string>{363,291}</string>
		</dict>
		<key>kge6_tail_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{1091,3689},{363,291}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{363,291}}</string>
			<key>sourceSize</key>
			<string>{363,291}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>KGE_pg6_assets_0.png</string>
		<key>size</key>
		<string>{4096,4096}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:88ca9b5d7252813a3672a47b2f8e69b0:936eb4fa6b17c06f5b2f712532e9ce42:785a3a61ab06c11271bbfa9a49313159$</string>
		<key>textureFileName</key>
		<string>KGE_pg6_assets_0.png</string>
	</dict>
</dict>
</plist>
