<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>igor_arm</key>
	<dict>
		<key>filenamePrefix</key>
		<string>kge6_igorArm_</string>
		<key>delay</key>
		<real>0.2</real>
		<key>animationFrames</key>
		<string>1,2,3,2</string>
	</dict>
	<key>cat_tail_a</key>
	<dict>
		<key>filenamePrefix</key>
		<string>kge6_tail_0</string>
		<key>delay</key>
		<real>0.3</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7,6,5,4,3,2</string>
	</dict>
	<key>cat_tail_b</key>
	<dict>
		<key>filenamePrefix</key>
		<string>kge6_tail_0</string>
		<key>delay</key>
		<real>0.1</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,5,4,3,2</string>
	</dict>
	<key>cat_tail_c</key>
	<dict>
		<key>filenamePrefix</key>
		<string>kge6_tail_0</string>
		<key>delay</key>
		<real>0.2</real>
		<key>animationFrames</key>
		<string>1,2,3,2</string>
	</dict>
	<key>chicken_a</key>
	<dict>
		<key>filenamePrefix</key>
		<string>kge6_chicken_</string>
		<key>delay</key>
		<real>0.2</real>
		<key>animationFrames</key>
		<string>1,2,3,2,1</string>
	</dict>
	<key>chicken_b</key>
	<dict>
		<key>filenamePrefix</key>
		<string>kge6_chicken_</string>
		<key>delay</key>
		<real>0.2</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,4,3,2,1</string>
	</dict>
	<key>chicken_c</key>
	<dict>
		<key>filenamePrefix</key>
		<string>kge6_chicken_</string>
		<key>delay</key>
		<real>0.1</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7,6,5,4,3,2,1</string>
	</dict>
	<key>milo_armback</key>
	<dict>
		<key>filenamePrefix</key>
		<string>kge6_miloArm_back_</string>
		<key>delay</key>
		<real>0.2</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,4,3,2</string>
	</dict>
	<key>milo_armfront</key>
	<dict>
		<key>filenamePrefix</key>
		<string>kge6_miloArm_front_</string>
		<key>delay</key>
		<real>0.2</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,4,3,2</string>
	</dict>
	<key>hair</key>
	<dict>
		<key>filenamePrefix</key>
		<string>kge6_hair_</string>
		<key>delay</key>
		<real>0.1</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,4,3,2</string>
	</dict>
</dict>
</plist>
